@charset "UTF-8";
/* CSS Document */
html,
body {
  margin: 0;
  margin-top: -7px;
  padding: 0;
  background-color: #f5f4f4;
}

#wrapper {
	width:1680px;
	min-height:100%;
	position: relative;
}
header {
	width: 1680px;
	height: 95px;
	background-color: #f3e4e4;
}
img{
    max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
#logo {
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

li {
	display: inline;
	font-size: 25px;
	margin-left: 50px;
	float: left;
	margin-top: 30px;
}

nav {
	width: 1024px;
	margin-left: 20px;
}

#name {
	width: 100%;
	display: block;
}

main {
	width: 100%;
	height: 100%;
	display: block;
	padding-bottom: 80px;
}
h1 {
	margin-top: -10px;
	width: 100%;
	height: 130px;
	padding-top: 25px;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 5em;
	background-color: #fee7e6;
	color: #ab9f9f;
	border-bottom: 5px solid #dbcccc;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-weight: 200;
	font-size: 50px;
	display: inline-block;
	height: 200px;
	text-align: center;
	margin-bottom: -100px;
} 
hr {
	border-top: 5px solid #d2c5c5;
	width: 100%;
	margin-top: -5px;
}

section {
	width: 100%;
	height: 350px;
	align: center;
	margin-top: -5px;
	margin: 0 auto;
	
}

.nav {
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;

}
section img {
	width: 550px;
	float: left;
	margin-left: 200px;
	margin-top: 40px;
}

#paragraph {
	margin-top: -320px;
	width: 550px;
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
	float: left;
	text-align: left;
	margin-left: 180px;
}

a.external {
	position: relative;
	top: 140px;
	font-family:  'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 25px;
	float: right;
	
	
}
a:link {
		color: black;
}
a:visited {
		color: #7f5454;
	}
a:hover {
		color: #a16a6a;
		background-color: #fff;
	}
a:focus {
		color: #bd7d7d;
		background-color: #fff;
	}
a:active {
		color: #624141;
		background-color: #fff;
	}

#footer {
	height: 100px;
	width: 1680px;
	background-color: #f3e4e4;
  	bottom: 0;
  	left: 0;
}
small { 
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

#copyright {
	margin-left: 20px;
	position: relative;
	top: 30px;
}

#social img{
	width: 40px;
	height: 40px;
	display: inline;
	float: right;
	margin-top: -10px;
	margin-right: 25px;
}

